{{template "base" .}}

{{define "title"}}Profile{{end}}

{{define "main"}}
    <h2>User Profile</h2>
    {{with .User}}
    <table>
        <tr>
            <td><strong>Name</strong></td>
            <td>{{.Name}}</td>
        </tr>
        <tr>
            <td><strong>email</strong></td>
            <td>{{.Email}}</td>
        </tr>
        <tr>
            <td><strong>Joined</strong></td>
            <td>{{humanDate .Created}}</td>
        </tr>
        <tr>
            <td><strong>Change Password</strong></td>
            <td><a href='/user/change-password'>Change password</a></td>
        </tr>
    </table>
    {{end}}
{{end}}